# pyngrok==1.4.0
sanic==19.6.3
Sanic-Cors==0.9.9.post1
# librosa==0.7.0
# matplotlib==3.1.1
# gpiozero==1.5.1
# bqplot==0.11.6
# picamera==1.13
aiofile==1.5.2
ffmpy3==0.2.3 # needs a monkey patch to allow correct streaming
# mpu6050-raspberrypi==1.1
# smbus2==0.3.0
scikit-kinematics==0.8.3
serial==3.4